.filters {
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: inline-flex;
}

.filters button {
  font-size: 18px;
  background: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border-radius: 4px;
  border-style: none;
  order: 2;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: auto;
}
.filters button:hover {
  opacity: 0.9;
}
.filters .locations,
.filters .amenities {
  height: 100%;
  width: 25%;
  text-align: left;
  margin-left: 40px;
}
.locations {
  border-right: solid 1px #dddddd;
  order: 0;
}
.amenities {
  order: 1;
}
.locations h3,
.amenities h3 {
  font-weight: 600px;
  margin-bottom: -15px;
}

.locations h4,
.amenities h4 {
  font-weight: 400;
  font-size: 14px;
  /* margin: 0; */
}
.popover {
  background: #fafafa;
  border: 1px solid #dddddd;
  margin-top: -6px;
  margin-left: -41px;
  width: 292px;
  border-radius: 4px;
  box-sizing: border-box;
  padding-bottom: 30px;
  display: none;
}
.popover h2 {
  margin-left: 18px;
  margin-bottom: -15px;
}
.popover ul {
  list-style: none;
  margin-left: 6px;
}

.locations:hover .popover {
  display: block;
  padding-left: 18px;
}

.amenities:hover .popover {
  display: block;
}

@media screen and (max-width: 350px) {
  .filters button {
    margin-top: 16px;
    margin-right: 8px;
    font-size: 12px;
    height: 40px;
  }
  .filters .locations,
  .filters .amenities {
    margin-left: 20px;
  }
  .locations h3,
  .amenities h3 {
    margin-bottom: -13px;
    margin-top: 15px;
    font-size: 13px;
  }
  .locations h4,
  .amenities h4 {
    font-size: 11px;
  }
}
